html,
body {
    background-color: white;
    display: -webkit-flex;
    display: flex;
    display: flex;
    flex-flow: column;
    height: 810px;
    padding: 0px;
    -webkit-flex-flow: column;
    width: 1440px;
}

#main {
    border: 15px solid white;
    border-radius: 7p;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
}

@font-face {
    font-family: "HellixTRIAL";
    src: url(../CSS/Fonts/HellixTRIAL-SemiBold.otf)
}

* {
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}