#lang {
    height: 16px;
    width: 83px;
    display: flex;
}

p {
    display: block;
    margin: 0%;
}

#weather {
    width: 95px;
    height: 24px;
    display: flex;
    margin-left: 40px;
    margin: 0%;
}

#portugues {
    width: 64px;
    height: 13px;
    color: #98a0b2;
    font-family: "Hellix TRIAL";
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    text-transform: uppercase;
    display: flex;
}

footer {
    background-color: white;
    border: 15px solid white;
    height: 48px;
    margin: 0px;
    padding: 0px;
    width: 1360p;
}

#footer-container {
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 1408px;
    align-items: center;
    justify-content: space-between;
}